#brand-list-section-block.block.block-brand-list.block-section
  .block-content
    .block-header
      .block-title.h3 {$BLOCK_TITLE}
      p.block-text Eczane güvencesiyle satışa sunulan Dünyaca ünlü ve Türkiye'de en çok sevilen markalar Dermokozmetika'da sizlerle buluşuyor.
    .block-body
      ul.brand-list-featured-brands-list-inline.list-inline
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/345.jpg'
            href='/acnecinamide'
            title='Acnecinamide'
          ) Acnecinamide
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/129.jpg'
            href='/ardell'
            title='Ardell'
          ) Ardell
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/142.jpg'
            href='/avene'
            title='Avene'
          ) Avene
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/150.jpg'
            href='/batiste'
            title='Batiste'
          ) Batiste
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/346.jpg'
            href='/bepanthol'
            title='Bepanthol'
          ) Bepanthol
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/139.jpg'
            href='/bio-oil'
            title='Bio Oil'
          ) Bio Oil
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/304.jpg'
            href='/biobaby'
            title='Biobaby'
          ) Biobaby
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/303.jpg'
            href='/bioder'
            title='Bioder'
          ) Bioder
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/357.jpg'
            href='/bioder-skincare'
            title='Bioder Skincare'
          ) Bioder Skincare
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/144.jpg'
            href='/bioderma'
            title='Bioderma'
          ) Bioderma
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/153.jpg'
            href='/bioxcin'
            title='Bioxcin'
          ) Bioxcin
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/6.jpg'
            href='/bliss'
            title='Bliss'
          ) Bliss
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/5.jpg'
            href='/blistex'
            title='Blistex'
          ) Blistex
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/8.jpg'
            href='/burts-bees'
            title='Burts Bees'
          ) Burts Bees
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/10.jpg'
            href='/cumlaude-lab'
            title='Cumlaude Lab'
          ) Cumlaude Lab
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/317.jpg'
            href='/darphin'
            title='Darphin'
          ) Darphin
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/11.jpg'
            href='/ddf'
            title='DDF'
          ) DDF
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/138.jpg'
            href='/dentiste'
            title='Dentiste'
          ) Dentiste
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/320.jpg'
            href='/dermaheal'
            title='Dermaheal'
          ) Dermaheal
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/12.jpg'
            href='/dermalogica'
            title='Dermalogica'
          ) Dermalogica
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/148.jpg'
            href='/dexeryl'
            title='Dexeryl'
          ) Dexeryl
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/1.jpg'
            href='/dr-murad'
            title='Dr. Murad'
          ) Dr. Murad
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/310.jpg'
            href='/dr-scheller'
            title='Dr. Scheller'
          ) Dr. Scheller
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/352.jpg'
            href='/driclor'
            title='Driclor'
          ) Driclor
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/147.jpg'
            href='/ducray'
            title='Ducray'
          ) Ducray
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/342.jpg'
            href='/durex'
            title='Durex'
          ) Durex
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/365.jpg'
            href='/eeose'
            title='Eeose'
          ) Eeose
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/143.jpg'
            href='/elancyl'
            title='Elancyl'
          ) Elancyl
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/336.jpg'
            href='/esthederm'
            title='Esthederm'
          ) Esthederm
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/133.jpg'
            href='/eubos'
            title='Eubos'
          ) Eubos
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/135.jpg'
            href='/femfresh'
            title='Femfresh'
          ) Femfresh
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/3.jpg'
            href='/glo-minerals'
            title='Glo Minerals'
          ) Glo Minerals
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/322.jpg'
            href='/hamilton'
            title='Hamilton'
          ) Hamilton
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/321.jpg'
            href='/isis-pharma'
            title='Isis Pharma'
          ) Isis Pharma
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/13.jpg'
            href='/jf-lazartigue'
            title='J.F. Lazartigue'
          ) J.F. Lazartigue
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/14.jpg'
            href='/jane-iredale'
            title='Jane Iredale'
          ) Jane Iredale
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/15.jpg'
            href='/john-frieda'
            title='John Frieda'
          ) John Frieda
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/146.jpg'
            href='/klorane'
            title='Klorane'
          ) Klorane
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/131.jpg'
            href='/la-roche-posay'
            title='La Roche Posay'
          ) La Roche Posay
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/157.jpg'
            href='/lierac'
            title='Lierac'
          ) Lierac
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/155.jpg'
            href='/listerine'
            title='Listerine'
          ) Listerine
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/4.jpg'
            href='/mavala'
            title='Mavala'
          ) Mavala
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/156.jpg'
            href='/mustela-urunler'
            title='Mustela'
        ) Mustela
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/295.jpg'
            href='/neostrata'
            title='Neostrata'
          ) Neostrata
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/2.jpg'
            href='/nuxe'
            title='Nuxe'
          ) Nuxe
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/319.jpg'
            href='/optone'
            title='Optone'
          ) Optone
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/344.jpg'
            href='/panaheat'
            title='Panaheat'
          ) Panaheat
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/329.jpg'
            href='/pharmaton'
            title='Pharmaton'
          ) Pharmaton
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/158.jpg'
            href='/phyto'
            title='Phyto'
          ) Phyto
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/16.jpg'
            href='/rausch'
            title='Rausch'
          ) Rausch
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/17.jpg'
            href='/sally-hansen'
            title='Sally Hansen'
          ) Sally Hansen
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/290.jpg'
            href='/scholl'
            title='Scholl'
          ) Scholl
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/166.jpg'
            href='/sebamed'
            title='Sebamed'
          ) Sebamed
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/318.jpg'
            href='/solante'
            title='Solante'
          ) Solante
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/18.jpg'
            href='/strivectin'
            title='Strivectin'
          ) Strivectin
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/351.jpg'
            href='/sudocrem'
            title='Sudocrem'
          ) Sudocrem
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/294.jpg'
            href='/synchroline'
            title='Synchroline'
          ) Synchroline
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/343.jpg'
            href='/veet'
            title='Veet'
          ) Veet
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/130.jpg'
            href='/vichy'
            title='Vichy'
          ) Vichy
        li.list-inline-item
          a.bg-lazy.list-inline-link(
            data-background='/Data/Markalar/292.jpg'
            href='/wartner'
            title='Wartner'
          ) Wartner
  .block-content
    .block-header
      .btn-inline-group
        a.block-link.btn(
          href='/{$PAGE_LINK.BRAND_LIST}'
          title='{#all#}'
        ) {#all#}
        | {for $index = 0; $index < count($LETTERS); $index++}
        a.block-link.btn(
          href='/?B=Marka&letter={$LETTERS.$index}'
          title='{$LETTERS.$index}'
        ) {$LETTERS.$index}
        | {/for}
        a.block-link.btn(
          href='/{$PAGE_LINK.BRAND_LIST}?letter=0'
          title='0-9'
        ) 0-9
    .block-body
      | {if $DATA_LIST}
      #brand-list-section-block-row.brand-list-row.load.row
        | {for $index = 0; $index < $LETTERS|count; $index++}
        .brand-list-section-block-area.col-md-6
          a.brand-list-link(
            data-toggle='collapse'
            href='#brand-list-section-block-{$LETTERS.$index}-collapse'
            title='{$LETTERS.$index}'
          )
            .h6 {$LETTERS.$index}
          .collapse.show(id='brand-list-section-block-{$LETTERS.$index}-collapse')
            .mb-12.row
              | {foreach $DATA_LIST as $item}
              | {if $item.NAME|upper|substr:0:1 == $LETTERS.$index}
              a(
                class!='{if $item.ID|in_array:[1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 129, 130, 131, 133, 135, 138, 139, 142, 143, 144, 146, 147, 148, 150, 153, 155, 156, 157, 158, 166, 290, 292, 294, 295, 303, 304, 310, 317, 318, 319, 320, 321, 322, 329, 336, 342, 343, 344, 345, 346, 351, 352, 357, 365]}brand-list-section-block-link col-6 col-lg-4 font-weight-bold{else}brand-list-section-block-link col-6 col-lg-4{/if}'
                href='/{$item.URL}'
                title='{$item.NAME}'
              ) {$item.NAME}
              | {/if}
              | {/foreach}
        | {/for}
      | {else}
      .alert.alert-warning(data-i18n='no-brand-found-starting-with-the-character-you-were-looking-for')
      | {/if}